.nav{  
  vertical-align: top; 
  display: inline-block;
  box-shadow: 
    1px -1px -1px 1px #000, 
    -1px 1px -1px 1px #fff, 
    0 0 6px 3px #fff;
  border-radius:6px;
}
nav{background:#111;box-shadow:inset 0 2em 0.33em -0.5em #555;border-bottom:4px #aaa solid}
.nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav > li >a{  background:transparent;}
.nav a {
  display: block;
  background: #111;
  color: #fff;
  text-decoration: none;
  padding: 0.85em 1.8em;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif !important; 
  text-shadow: 0 -1px 0 #000;
  position: relative;
}

.nav li {
  position: relative;
}
.nav > li { 
  float: left;  
} 
.nav > li > a { 
}
.nav > li:hover, 
.nav > li:hover > a { 
  border-bottom-color: #80d4ff;
}
.nav li:hover > a { 
  color:#80d4ff; 
}
.nav > li:first-child { 
  border-radius: 0 0 0 0;
} 
.nav > li:first-child > a { 
  border-radius: 0 0 0 0;
}
.nav > li:last-child { 
  border-radius: 0 0 0 0; 
  margin-right: 0;
} 
.nav > li:last-child > a { 
  border-radius: 0 0 0 0;
}
.nav li li a { 
  margin-top: 1px;
}
.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }

 .nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  #80d4ff;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
 
  min-width: 100%;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 3px;
  top: -1px;
}
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: #80d4ff; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: #80d4ff;
  right: 10px; 
}
.icon-bar a {
  
  text-align: left; 
 
  padding: 0.8em 1.8em; 
  
  color: rgb(170, 202, 231); 
  
}

  
  